@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap&subset=latin-ext');
* {
  --color-main: #e21e28;
  --color-main-opacity: #e21e28bc;
  /* --color-main: pink; */
  --color-item: dodgerblue;
  --color-primary: #2b2a29;
  --color-loading: lightgray;
  --color-secondary: pink;
  --color-bg: #fff;
  --color-fb: #3b5998;
  --color-gplus: #d34836;
  --color-yt: #c4302b;
  box-sizing: border-box;
}
*::after,
*::before {
  box-sizing: border-box;
}
body {
  font-family: 'Ubuntu', sans-serif;
  background-color: var(--color-bg);
  color: var(--color-primary);
  width: 100%;
  margin: 0;
  font-size: 18px;
}
a {
  color: var(--color-primary);
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
}
button, input, textarea {
  font-family: 'Ubuntu', sans-serif;
  outline: none;
  color: var(--color-primary);
  background-color: transparent;
  border: 1px solid var(--color-main);
}